<div>
    <h2>Facultati</h2>
    <table class="pure-table pure-table-bordered">
        <tr>
            <th>Nume</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Site</th>
            <th></th>
        </tr>
        <tr ng-repeat="university in universities" ng-include="getTemplateState(university)">
        </tr>

    </table>

    <h2>Adauga facultate</h2>
    <form name = "addUniversityForm" class= "pure-form">
        <label for="numeFacultate">Nume</label>
        <input type="text" id="numeFacultate" name ="nameUniversity" ng-model="university.nume" required minlength ="3"/>
        <label for="adresaFacultate">Adresa</label>
        <input type="text" id="adresaFacultate" name = "addressUniversity" ng-model="university.adresa" required minlength ="3"/>
        <label for="nrTelFacultate">Telefon</label>
        <input type="text" id="nrTelFacultate" name ="phoneUniversity" ng-model="university.nrTel" required minlength ="10" maxlength="10"  />
        <label for="siteFacultate">site</label>
        <input type="text" id="siteFacultate" name="websiteUniversity" ng-model="university.site" required  />

        <input type="button" class="button-secondary pure-button" value="Adauga" ng-click="addUniversity(university)" />
        
         <div ng-messages="addUniversityForm.nameUniversity.$error" style="color:maroon" role="alert" md-auto-hide="false" ng-if="addUniversityForm.nameUniversity.$touched">
                <div ng-message="required">Nu ai introdus numele facultatii</div>
                <div ng-message="minlength">Numele trebuie sa contina mai mult de 3 litere</div>
         </div>
         
         <div ng-messages="addUniversityForm.addressUniversity.$error" style="color:maroon" role="alert" md-auto-hide="false" ng-if="addUniversityForm.addressUniversity.$touched">
                <div ng-message="required">Nu ai introdus adresa facultatii</div>
                <div ng-message="minlength">Adresa trebuie sa contina mai mult de 3 litere</div>
         </div>
           <div ng-messages="addUniversityForm.phoneUniversity.$error" style="color:maroon" role="alert" md-auto-hide="false" ng-if="addUniversityForm.phoneUniversity.$touched">
                <div ng-message="required">Nu ai introdus numarul de telefon al facultatii</div>
                <div ng-message="minlength">Numarul trebuie sa contina 10 cifre</div>
                <div ng-message="maxlength">Numarul trebuie sa contina 10 cifre</div>
         </div>
         <div ng-messages="addUniversityForm.websiteUniversity.$error" style="color:maroon" role="alert" md-auto-hide="false" ng-if="addUniversityForm.websiteUniversity.$touched">
                <div ng-message="required">Nu ai introdus site-ul facultatii</div>
         </div>
        
        
    </form>
    <div ng-include="getTemplateForFind()"></div>

    <script type="text/ng-template" id="display">
        <td>{{university.nume}}</td>
        <td>{{university.adresa}}</td>
        <td>{{university.nrTel}}</td>
        <td>
            <a ng-href="http://{{university.site}}"> {{university.site}}</a>

        </td>
        <td>
            <input type="button" class="button-success pure-button" value="Studenti" ng-click="findStudentsByUniversity(university.id)" />
            <input type="button" class="button-error pure-button" value="Stergere" ng-click="deleteUniversity(university)" />
            <input type="button" class="button-warning pure-button" value="Editare" ng-click="editUniversity(university)" />
        </td>
    </script>
    <script type="text/ng-template" id="find">
    <h1>Studenti </h1>
        <table class="pure-table pure-table-bordered">
            <tr>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Email</th>
                
            </tr>
            <tr ng-repeat="student in studentsFoundByUniversity">

                <td>{{student.nume}}</td>
                <td>{{student.prenume}}</td>
                <td>{{student.email}}</td>

                
            </tr>
        </table>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model="university.nume" /></td>
        <td><input type="text" ng-model="university.adresa" /></td>
        <td><input type="text" ng-model="university.nrTel" /></td>
        <td><input type="text" ng-model="university.site" /></td>
        <td>
            <input type="button" class="button-error pure-button" value="Cancel" ng-click="cancelEditing()" />
            <input type="button" class="button-success pure-button" value="Save" ng-click="saveUniversity(university)" />
        </td>
    </script>
</div>
