<div>
    <h2>Facaultati</h2>
    <table class = "pure-table pure-table-bordered">
        <tr>
            <th>Nume</th>
            <th>Adresa</th>
            <th>Telefon</th>
            <th>Site</th>
            <th></th>
        </tr>
        <tr ng-repeat="university in universities" ng-include="getTemplateState(university)">
        </tr>

    </table>

    <h2>Adauga facultate</h2>
    <form>
        <label for="numeFacultate">Nume</label>
        <input type="text" id="numeFacultate" ng-model="university.nume" />
        <label for="adresaFacultate">Adresa</label>
        <input type="text" id="adresaFacultate" ng-model="university.adresa" />
        <label for="nrTelFacultate">Telefon</label>
        <input type="text" id="nrTelFacultate" ng-model="university.nrTel" />
        <label for="siteFacultate">site</label>
        <input type="text" id="siteFacultate" ng-model="university.site" />

        <input type="button" class="button-secondary pure-button" value="Adauga" ng-click="addUniversity(university)" />
    </form>

    <script type="text/ng-template" id="display">
        <td>{{university.nume}}</td>
        <td>{{university.adresa}}</td>
        <td>{{university.nrTel}}</td>
        <td>
            <a ng-href = "http://{{university.site}}"> {{university.site}}</a>
           
        </td>
        <td>
            <input type="button" class="button-error pure-button" value="Stergere" ng-click="deleteUniversity(university)" />
            <input type="button" class="button-warning pure-button" value="Editare" ng-click="editUniversity(university)" />
        </td>
    </script>
    
    <script type="text/ng-template" id="edit">
        <td><input type="text" ng-model="university.nume" /></td>
        <td><input type="text" ng-model="university.adresa" /></td>
        <td><input type="text" ng-model="university.nrTel" /></td>
        <td><input type="text" ng-model="university.site" /></td>
        <td>
            <input type="button" class="button-error pure-button" value="Cancel" ng-click="cancelEditing()" />
            <input type="button" class="button-success pure-button" value="Save" ng-click="saveUniversity(university)" />
        </td>
    </script>
</div>
